################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstApp/.vs
/FirstApp/FirstApp/bin
/FirstApp/FirstApp/obj
/LambdaApp/.vs/LambdaApp
/LambdaApp/LambdaApp/bin/Debug/net7.0
/LambdaApp/LambdaApp/obj
/ContosoApp/.vs
/ContosoApp/ContosoApp/bin/Debug/net7.0
/ContosoApp/ContosoApp/obj
/IdentityApp/.vs/IdentityApp
/IdentityApp/IdentityApp/bin/Debug/net7.0
/IdentityApp/IdentityApp/obj
/LambdaApp/.vs/ProjectEvaluation
/IdentityApp/.vs/ProjectEvaluation
/RolesApp/.vs/RolesApp
/RolesApp/RolesApp/bin/Debug/netcoreapp3.1
/RolesApp/RolesApp/obj
/RolesApp/.vs/ProjectEvaluation
/SessionApp/.vs/SessionApp
/SessionApp/SessionApp/bin/Debug/net7.0
/SessionApp/SessionApp/obj
/SessionApp/.vs/ProjectEvaluation
/WebApiFirst/.vs/WebApiFirst
/WebApiFirst/WebApiFirst/bin/Debug/net7.0
/WebApiFirst/WebApiFirst/obj
/WebApiFirst/.vs/ProjectEvaluation
/WebApiFirst/TestProject4Api/bin/Debug/net7.0
/WebApiFirst/TestProject4Api/obj
/WebApiJwt/.vs
/WebApiJwt/WebApiJwt/bin/Debug/net7.0
/WebApiJwt/WebApiJwt/obj
