################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstApp/.vs
/FirstApp/FirstApp/bin
/FirstApp/FirstApp/obj
